* {
    margin: 0;
    padding: 0;
}
div.clear { clear: both; }

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    position: absolute;
    left: 300px;
    top: 0;
    padding: 0;
    bottom: 0;
    right: 0;
}

#container-log {
    padding: 30px;
}

#container-log .alert {
    height: 60px;
}
#container-log .alert span {
    line-height: 35px;
}

#container-log .alert button {
    float: right;
}

#container-power {
    padding: 30px;
}
#container-power .alert button {
    float: right;
}

#container-flysim {
    padding: 30px;
}

#container-settings {
    
}

#container-cameras {
    
}

#input-host-ip {
    width: 200px;
    margin: 10px 30px;
}

.log-msg {
    margin: 2px;
    padding: 2px;
    color: #000;
    list-style: none;
    font-size: 15px;
}

.img-camera {
    width: 700px;
    height: 700px;
    margin: 20px;
    background: #f8f8f8;
}

/* ------------------------------------------------ */

.label {
    width:100px;
    height:20px;
    text-align: center;
}

a {
    color: #000000;
}

#top {
    position: absolute;
    top:0;
    left:30%;
    z-index: 10000000;
    padding:10px;
}

#cableFlysimSerialWnd {
    position: absolute;
    top: 0; right: 75%; left: 0; bottom: 0;
    background: #f0f0f0;
    padding: 20px;
}
#cableFlysimSerialWnd input {
    width: 100%;
}
#cableFlysimSerialWnd .log-window {
    position: absolute;
    top: 120px;
    left: 30px;
    right: 30px;
    bottom: 20px;
    background: #fff;
    overflow: auto;
}
#cableFlysimSerialWnd .log-window span {
    display: block;
    margin: 10px;
}

#cableFlysimCanvas {
    position: absolute;
    top: 0; right: 0; left: 25%; bottom: 0;
}
#cableFlysimCanvasXY {
    position: absolute;
    height: 400px; width: 25%; left: 25%; bottom: 0;
    background: #f0f0f0;
}
#cableFlysimCanvasXZ {
    position: absolute;
    height: 400px; width: 25%; left: 50%; bottom: 0;
    background: #f0f0f0;
}
#cableFlysimCanvasYZ {
    position: absolute;
    height: 400px; width: 25%; left: 75%; bottom: 0;
    background: #f0f0f0;
}

canvas{
    z-index: 0;
}

/* ------------------------------------------------ */


html, body { margin: 0; width: 100%; height: 100%; }

#frame-interface {
    border: none;
    position:fixed; top:0px; left:150px; bottom:0px; right:0px; width:90%; height:100%;
}

/* make sidebar nav vertical */ 
/* Adapted from: http://bootsnipp.com/snippets/featured/vertical-affix-menu-css-only */
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   

    .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
    position:fixed; 
    width: 300px;
    height: 100%;
  }
  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 
  .affix-content{
    background-color:white; 
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
    height: 100%;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }  
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{   
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  
}
